In [3]:
import pandas as pd
import numpy as np
import sklearn
import random

from sklearn.datasets import make_regression

In [8]:
X, y = make_regression(n_samples = 1000, n_features = 14, n_informative = 10, random_state = 42)
X = pd.DataFrame(X)
y = pd.Series(y)
X
X.columns = [f'col_{col}' for col in X.columns]
X

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13
0,-1.153706,0.897656,1.187713,-1.158603,0.496635,-2.014063,0.400170,0.635100,-0.815910,1.256197,-0.275840,-0.514089,0.063232,-1.815649
1,0.789075,-0.183245,0.945930,-0.083783,-0.629221,0.083873,-1.293122,-0.706707,0.953176,-1.441910,-1.403559,-0.202339,-1.553035,2.254038
2,0.580568,-0.840772,-0.352088,-0.072858,1.209231,0.908023,1.638961,-0.024286,0.324758,0.220631,-0.504129,0.238171,-0.928926,1.889279
3,1.455600,-0.596994,-0.160130,-0.233898,1.031654,0.850719,0.444896,-1.408919,0.618361,1.493003,0.543032,0.409685,-0.499872,-0.196093
4,-0.776694,-0.078591,-0.129297,-0.466619,0.941619,-0.747429,-0.174444,0.076518,-0.133628,0.206678,-0.211890,-0.055896,1.084478,-0.736901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.382800,0.538910,-0.190339,0.077368,0.926178,0.562969,-1.398568,1.909417,-0.875618,-1.037246,1.479944,1.523124,-0.007973,-0.861284
996,-0.308483,0.054934,-1.258505,0.975817,2.426716,-0.564774,-1.377618,0.432960,-0.217017,-0.709580,-0.295090,-1.245717,-0.417367,0.918454
997,0.036783,1.098983,0.450613,-0.183301,-2.384307,0.428342,0.134166,0.745151,0.082773,1.959837,1.636740,-0.482314,-0.169852,-0.019794
998,2.022590,-1.133830,-0.738697,-0.466759,1.252541,0.417465,0.272421,-0.779019,-1.627005,-0.412479,-0.538574,-0.817682,-0.965783,-1.482984
999,0.677970,0.992628,-1.075103,0.542424,-1.284728,-0.066166,0.454704,-0.331024,-1.046922,-1.344928,0.006549,1.557905,0.587058,-0.808964

In [2]:
class myKNN:
    def __init__(self, k = 3):
        self.k = k
        self.train_size = None
        self.X = None 
        self.y = None
    def fit(self, X:pd.DataFrame, y:pd.Series):
        self.X = X
        self.y = y 
        self.train_size = X.shape
        return self.train_size

In [9]:
model = myKNN()
model.fit(X,y)

(1000, 14)